services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=crm_db
    ports:
      - "5432:5432"

  api:
    build: .
    env_file:
      - .env
    volumes:
     
      - ./crm_backbone:/code
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db/crm_db
      - PYTHONPATH=/code
    depends_on:
      - db